.footer {
  background-color: #0e1e37;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
}

.footer-copywright {
  text-align: center !important;
}

.footer-body {
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #f9004d !important;
}
ul{
    list-style: none;
    
}
ul li{
    padding: 5px;
}

.footer-icons {
  float: right;
}
/* Start 767px css responsive  */
@media (max-width: 767px) {
 .footer-icons {
   justify-content: center;
   float: none;
   align-items: center;
 }
}